body {
    background-image: url(https://cdn.leroymerlin.com.br/products/papel_de_parede_adesivo_anime_death_note_manga_lavavel_quarto_1567755128_97d0_600x600.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
 
.quadrado {
    border: 10px solid  #2d2e2e;
    padding: 20px;
    width: 350px;
    height: 300px;
    background-color:  #2d2e2e;
    box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.5);
    margin: auto;
}
 
.fonte {
    color: white;
}

.a {
    color: white;
}

a:hover {
    color: lightgray; 
}
 
.page1body  {
    background-image: url(https://m.media-amazon.com/images/I/A1btp-E1m6L._AC_UF1000,1000_QL80_.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}
 
.quadrado2 {
    border: 10px solid  #2d2e2e;
    padding: 20px;
    width: 350px; /*largura*/
    height: 200px; /*altura*/
    background-color:  #2d2e2e;
    box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.5);
    margin-bottom: 20px;
    margin: auto; 
}

.page2body {
    background-image: url(https://rukminim2.flixcart.com/image/850/1000/xif0q/poster/f/5/n/medium-set-of-40-manga-special-moments-poster-collection-poster-original-imagzmm6mqhnr5eh.jpeg?q=90&crop=false);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.quadrado3 {
    border: 10px solid  #2d2e2e;
    padding: 20px;
    width: 350px;
    height: 250px;
    background-color:  #2d2e2e;
    box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.5);
    margin: auto;
}